{% extends "base.html" %}

{% block title %} Home {% endblock title %}
{% block homeactive %} text-light {% endblock homeactive %}

{% block css %}
<style>
  .card-img-top {
    min-height: 250px;
    max-height: 250px;
    min-width: 375px;
    max-width: 375px;
  }
</style>
{% endblock css %}

{% block body %}

<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6 mt-4">
        <h2 class="text-white">Welcome to iCoder...</h2>
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">A Platform designed for modern content creators</h1>
          <p class="lead fw-normal text-white-50 mb-4">Quickly write and customize compelling and mind blowing articles
            on Freelance writing, the world’s most popular content creating toolkit!</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/blog">Get Started</a>
            <a class="btn btn-outline-light btn-lg px-4" href="#allblogs">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img class="img-fluid rounded-3 my-5" src="static/img/happy2.jpg" alt="..." />
      </div>
    </div>
  </div>
</header>



<!-- Blog preview section-->
<section class="py-5" id='allblogs'>
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">Top Articles For You</h2>
          <p class="lead fw-normal text-muted mb-5">Here are articles from our topmost creators. Browse through to find
            the article you love most.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      {% for post in posts %}
      <div class="card mx-2 my-2" style="width: 25rem;">
        <img src="/media/static/img/{{post.postImage}}" class="card-img-top" alt="...">
        <div class="card-body">
          {% if user.is_authenticated %}
          <a href="/writers/{{post.username}}"><b
              class="d-inline-block mb-2 text-primary underline-hover">Article by
              {{post.author}} ({{post.views}} Views)</b></a>
          {% else %}
          <a href="#"><b class="d-inline-block mb-2 text-primary">Article by
              {{post.author}} ({{post.views}} Views)</b></a>
          {% endif %}
          <h5 class="card-title">{{post.title}}</h5>
          <div class="mb-1 text-primary">{{post.timeStamp}}</div>
          <p class="card-text" style="height: 8rem;">{{post.content|truncatechars:200}}</p> 
          <a href="blog/{{post.slug}}" class="btn btn-primary">Continue Reading</a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  </div>
</section>

{% endblock body %}

{% block js %}

<!-- <script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element) => {
    element.innerHTML = element.innerText;
  })
</script> -->

{% endblock js %}
