{% extends "base.html" %}

{% block title %} Home {% endblock title %}
{% block homeactive %} text-light {% endblock homeactive %}

{% block body %}

<div class="container my-3 border border-secondary p-3">
  <div class="text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Welcome to iCoder!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a
      responsive <code>.col-*</code> class, and a customized call to action.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a href="/blog"><button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
          type="button">
          Go to Blog
        </button></a>

    </div>
  </div>
</div>

<div class="container">
  <h2>Popular blog posts</h2>
  <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
      <h3 class="mb-0">Featured post</h3>
      <div class="mb-1 text-body-secondary">Nov 12</div>
      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional
        content.</p>
      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
        Continue reading
      </a>
    </div>
  </div>

</div>

{% endblock body %}