{% extends "base.html" %}

{% block title %} Contact {% endblock title %}

{% block css %}

{% endblock css %}

{% block contactactive %} text-light {% endblock contactactive %}

{% block body %}

<div class="container mt-5 p-5">
    <h1>Edit Your Profile</h1>
    <div class="my-4">
        <h3>{{writer.firstName}} {{writer.lastName}}</h3>
    </div>
    <form action="/writers/profileUpdate/{{writer.firstName}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="bio" class="form-label">Write your bio here</label>
            <textarea class="form-control border border-dark" id="bio" name="bio" rows="4">{{writer.bio}}</textarea>
        </div>
        
        <div class="mb-3">
            <label for="picture" class="form-label">Choose your picture</label>
            <input class="form-control border border-dark" type="file" id="picture" name="picture" onchange="previewFile()">
        </div>

        <div class="mb-4" id="previewImage">
            <img src="/media/{{writer.userImage}}" onerror="this.src='/media/blog/user/default_user.png'" class="rounded img-fluid" id="defaultImage" style="width: 300px; height: 300px; object-fit: cover; object-position: top;" alt="">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock body %}

{% block js %}

<script>

    function previewFile() {
        var preview = document.getElementById('previewImage');
        var picture = document.getElementById('picture');
        var defaultImage = document.getElementById('defaultImage');
    
        var file = picture.files[0];
    
        if (file) {
          var reader = new FileReader();
    
          reader.onloadend = function () {
            preview.innerHTML = '<img src="' + reader.result + '" alt="Preview" class="rounded" style="width: 300px; height: 300px; object-fit: cover; object-position: top;">';
            defaultImage.style.display = 'none';
          };
    
          reader.readAsDataURL(file);
        } 
      }

</script>

{% endblock js %}