{% extends "base.html" %}

{% block title %} Writers {% endblock title %}

{% block aboutactive %} text-light {% endblock aboutactive %}

{% block css %}
<style>
  .card-img-top {
    min-height: 250px;
    max-height: 250px;
    min-width: 343px;
    max-width: 343px;
  }
</style>
{% endblock css %}

{% block body %}

<div class="container my-5 p-4">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark row">
    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">{{writer.firstName}} {{writer.lastName}}</h1>
      <p class="lead my-3">{{writer.bio}}</p>
    </div>
    <div class='userImg col-md-4'>
      <img src="/media/{{writer.userImage}}" onerror="this.src='/media/blog/user/default_user.png'" class="rounded w-75" alt="...">
    </div>
  </div>

  <!-- Blog preview section-->
  <div class="container">
    <section class="py-5" id='allblogs'>
      <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
            <div class="text-center">
              <h2 class="fw-bolder">Articles by {{writer.firstName}}</h2>
              <p class="lead fw-normal text-muted mb-5">Here are articles from {{writer.firstName}}. Browse through to
                find
                the article you love most.</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          {% for post in posts %}
          <div class="card mx-2 my-2 shadow" style="width: 23rem;">
            <img src="/media/{{post.postImage}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="text-primary"><b>({{post.views}} Views)</b></p>
              <h5 class="card-title">{{post.title}}</h5>
              <div class="mb-1 text-primary">{{post.timeStamp}}</div>
              <p class="card-text">{{post.content|truncatechars:100}}</p>
              <a href="/blog/{{post.slug}}" class="btn btn-primary my-2">Continue Reading</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>

</div>

{% endblock body %}