{% extends "base.html" %}

{% block title %} Writers {% endblock title %}

{% block blogactive %} text-light {% endblock blogactive %}

{% block css %}
<style>
  .card-img-top {
    min-height: 380px;
    max-height: 380px;
    min-width: 914px;
    max-width: 914px;
  }

  .scrollable-container {
      max-height: 100vh; /* Set a maximum height for the container */
      overflow-y: auto; /* Enable vertical scrolling */
  }
  
</style>
{% endblock css %}

{% block body %}

<div class="container my-5 p-4">
  <div class="row">
    <div class="col-9 scrollable-container">
      <h2>Blog by iCoder</h2>
      <div class="scrollable-container">
      {% for post in allPosts %}
      <div class="card mx-2 my-4 shadow">
        <img src="/media/{{post.postImage}}" class="card-img-top" alt="...">
        <div class="card-body">
          {% if user.is_authenticated %}
          <a href="/writers/{{post.username}}"><b
              class="d-inline-block mb-2 text-primary underline-hover">Article by
              {{post.author}} ({{post.views}} Views)</b></a>
          {% else %}
          <a href="#"><b class="d-inline-block mb-2 text-primary">Article by
              {{post.author}} ({{post.views}} Views)</b></a>
          {% endif %}
          <h5 class="card-title">{{post.title}}</h5>
          <div class="mb-1 text-primary">{{post.timeStamp}}</div>
          <p class="card-text">{{post.content|truncatechars:400}}</p>
          <a href="{{post.slug}}" class="btn btn-primary">Continue Reading</a>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
    <div class="col-3 text-center">
      <h2>Recent Blogs</h2>
      <div class="scrollable-container text-center">
      {% for rpost in recentPosts %}
      <div class="card my-4" style="width: 17rem;">
        <img src="/media/{{rpost.postImage}}" class="card-img" alt="...">
        <div class="mt-2 text-primary">{{rpost.timeStamp}}</div>
        <div class="card-body">
          <h5 class="card-title">{{rpost.title}}</h5>
          <p class="card-text">{{rpost.content|truncatewords:15}}</p>
          <a href="{{rpost.slug}}" class="btn btn-primary">Continue Reading</a>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
</div>

{% endblock body %}

{% block js %}

<!-- <script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element) => {
    element.innerHTML = element.innerText;
  })
</script> -->

{% endblock js %}